<h1>Notes</h1>


<ul class = 'note'>
<% @notes.each do |note|%>
  <li><%= link_to note.title, note_path(note)%></li>
<% end %>
</ul>

<button type="button" class="btn btn-light"><%= link_to 'Create New Note', new_note_path %></button>