// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button {
  margin: 5px;
  color: white;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  border: 1px solid black;
}


h1, h3, p {
  margin-left: 50px;
  margin-top: 20px;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: 50px;
}